<!-- this first example is just to show you how to interact with html elements using jquery 

Note: this is how you comment in html.  In javascript, it's //
-->
<head>
    <title>Example 1</title>
    <script type='text/javascript' src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <script type="text/javascript">
        // The reason for this document.ready stuff is that the browser is executing 
        // the <head> section of the html first.  We won't be able to interact with 
        // html elements in the <body> section with our javascript unless we wait for 
        // the $(document) to be ready (i.e. rendered)
        $(document).ready(function(){
            $('#button').click(function(event){
                console.log("in the click function"); // this is like printing in javascript
                $('#main').text("The button has been clicked.");
                $('#button').hide();
            });
        });
    </script>
</head>

<body>
    <div id='main'>
        Hello World
    </div>
    
    <div>
        <button type="button" id="button">Click me</button>
    </div>
</body>
