<!-- Example 4 is going to show you how to query a separate endpoint for data, and fill out a Selection with d3 -->
<head>
    <title>Example 4</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            // we're still using the button onclick handler to make our function
            $('#run').click(function(event){
                $('#main').text("Querying endpoint for data, please hold..."); // make this pop up while query runs
                $.get(url="/query").done(function(response){
                    var data = JSON.parse(response);
                    $('#main').text("Done querying, got " + data.length + " records.");
                    console.log(data);
                    
                    d3.select('#d3') // select the d3 div
                      .selectAll('p')  // this returns a Selection (even if the count is 0)
                      // technically it doesn't matter what element we pick with selectAll if none exist yet,
                      // but it would matter if there were elements we wanted to update instead.
                      .data(data)  // count the number of items in the input array expand the Selection to that number
                      .enter() // enter into the selection so that all follow on actions effect each item in the Selection
                      .append('p') // append a new 'p' tag for each item in the Selection
                      .style('color', function(d){return d.color;})
                      .text(function(d){return d.species;})
                    // in the end, we sould get 150 new paragraphs
                    // each paragraph will have the text of the iris species, and be colored the appropriate color
                });
            });
        });
    </script>
</head>

<body>
    <div id='main'>
        Hello World
    </div>
    
    <div>
        <button type="button" id="run">Run</button>
    </div>
    
    <div id='d3'>
    </div>
</body>