<head>
    <title>Flask / Jquery / D3 demo</title>
</head>

<body>
    <h1>Hello World</h1>
    
    <h4><a href='/query'>The Iris Data</a> (this may take a few seconds to load if we're simulating lag in app.py)</h4>

    <ul>
        <li><a href='/example1'>Example 1</a> loading JQuery and changing text when you click a button</li>
        <li><a href='/example2'>Example 2</a> using JQuery to load data asynchronously from another endpoint</li>
        <li><a href='/example3'>Example 3</a> loading d3 and adding text using d3's syntax</li>
        <li><a href='/example4'>Example 4</a> using d3's .data / .enter pattern to dynamically create divs</li>
        <li><a href='/example5'>Example 5</a> ugly bar charts using divs and html styles</li>
        <li><a href='/example6'>Example 6</a> svg and a very naive scatter plot</li>
        <li><a href='/example7'>Example 7</a> d3 scales and axes</li>
        <li><a href='/example8'>Example 8</a> transitions</li>
    </ul>

</body>